
<!-- Footer -->
<section class="footer">
  <div class="footer-container container">
      <div class="footer-box">
          <a href="#" class="logo">Lava<span>Soft</span></a>
          <div class="social">
              <a href="#"><i class='bx bxl-facebook' ></i></a>
              <a href="#"><i class='bx bxl-twitter' ></i></a>
              <a href="#"><i class='bx bxl-instagram' ></i></a>
              <a href="#"><i class='bx bxl-youtube' ></i></a>
          </div>
      </div>
      <div class="footer-box">
          <h3>Página</h3>
          <a href="#">Inicio</a>
          <a href="#">Servicios</a>
          <a href="#">Sobre Nosotros</a>
          <a href="#">Precios</a>
      </div>
      <div class="footer-box">
          <h3>Legal</h3>
          <a href="#">Privacidad</a>
          <a href="#">Refund Policy</a>
          <a href="#">Cookie Policy</a>

      </div>
      <div class="footer-box">
          <h3>Contacto</h3>
          <p>Armenia</p>
          <p>Pereira</p>
          <p>Medellín</p>
      </div>
  </div>
</section>


<!-- Copyright -->
<div class="copyright">
  <p>&#169; LavaSoft 2023 Todos los derechos reservados</p>
</div>
