<header>
  <!-- Nav Container -->
  <div class="nav container">
      <!-- Menu Icon -->
      <i class='bx bx-menu' id="menu-icon" (click)="toggleMenu()"></i>
      <!-- Logo -->
      <a href="#" class="logo">Lava<span>Soft</span></a>
      <!-- Nav List -->
      <ul class="navbar" [ngClass]="{'active': showMenu}">
          <li><a href="#home" class="active">Inicio</a></li>
          <li><a href="#cars">Servicios</a></li>
          <li><a href="#about">Sobre Nosotros</a></li>
          <li><a href="#parts">Precios</a></li>
          <li><a href="#blog">Nuestros Socios</a></li>
      </ul>
      <button type="button" title="inicio" (click)="openModal(login)">
        <i class='bx bx-log-in' id="login-icon" style="color: cadetblue;"></i>
      </button>
      <button title="inicio"(click)="openModal(singup)">
        <i class='bx bx-user-plus' id="register-icon" style="color: cadetblue;"></i>
      </button>

     <<ng-template #login>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Iniciar Sesion</h4>
          <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <app-login-test></app-login-test>
        </div>
      </ng-template>
     <<ng-template #singup>
      <div class="modal-header">
        <h4 class="modal-title pull-left" style="margin: 0px;">Registro</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <app-signup> </app-signup>
      </div>
     </ng-template>










      <!-- Search Icon -->
      <i class='bx bx-search' id="search-icon" (click)="toggleSearchBox()"></i>
      <!-- Search Box -->
      <div class="search-box container" [ngClass]="{'active': showSearchBox}">
          <input type="search" name="" id="" placeholder="Search here...">
      </div>
  </div>
</header>
