




<div style="padding: 30px 0px 20px;"><span class="MuiTypography-root" style="display: flex; padding: 0 15px ;">Seleccionar fecha:</span></div>


<div class="MuiPaper-root MuiCard-root MuiPaper-elevation0 MuiPaper-rounded" style="padding: 10px; margin: 0 10px">
  <div class="jss80">
    <div class="jss83">
      <div class="jss81"><button class="jss82" style="background: rgb(54, 105, 238);" (click)="scrollPrevious()">←</button></div>
      <div id="container" class="jss83" style="white-space: nowrap; display: flex; padding-left: 16px; padding-right: 16px;">
        <div *ngFor="let date of dates" class="jss86" (click)="selectDate(date)" [class.selected]="selectedDate === date">
          <div class="month">{{date | date:'MMM'}}</div>
          <div class="day">{{date | date:'EEEE'}}</div>
          <div class="date">{{date | date:'dd'}}</div>
      </div>

      </div>
      <div class="jss81"><button class="jss82" style="background: rgb(54, 105, 238);" (click)="scrollNext()">→</button></div>
  </div>
  </div>


</div>
<div class="card flex justify-content-center">
  <p-card header="Title">

  </p-card>
</div>



