<div class="MuiDialog-container MuiDialog-scrollPaper" role="none presentation" tabindex="-1"
  style="opacity: 1; transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;">
  <div
    class="MuiPaper-root MuiDialog-paper jss7 MuiDialog-paperScrollPaper MuiDialog-paperWidthSm MuiPaper-elevation24 MuiPaper-rounded"
    role="dialog" aria-labelledby="simple-dialog-title">
    <div class="MuiDialogTitle-root" id="simple-dialog-title">
      <h2 class="MuiTypography-root MuiTypography-h6"><span class="MuiTypography-root MuiTypography-h5">Reservar</span>
      </h2>
    </div><button class="MuiButtonBase-root MuiIconButton-root" tabindex="0" type="button" aria-label="close"
      style="position: absolute; border-radius: 0px; right: 0px; top: 10px;"><span class="MuiIconButton-label"><svg
          class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
          <path
            d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">
          </path>
        </svg></span><span class="MuiTouchRipple-root"></span></button>
    <div class="MuiDialogContent-root"><span class="MuiTypography-root"
        style="padding: 30px 0px 20px; display: flex;">Seleccionar colaborador:</span>
      <div class="MuiGrid-root scrollView MuiGrid-container MuiGrid-spacing-xs-2">
        <div class="MuiGrid-root itemShrink MuiGrid-item MuiGrid-grid-xs-5">
          <div class="MuiPaper-root MuiCard-root selectedCollaborator MuiPaper-elevation0 MuiPaper-rounded"
            style="min-height: 170px;">
            <div style="position: relative; width: 100%; height: 100px;"><img
                src="https://barberscloud.nyc3.digitaloceanspaces.com/chabra_barbershop/collaborators/Captura%20de%20Pantalla%202020-08-18%20a%20la%28s%29%2010.53.59%20a.%20m..png"
                alt="Edwin Rincon(chakra)" class="imgCollaborator" style="border-radius: 0px; object-fit: cover;"></div>
            <div class="MuiCardContent-root" style="margin-top: 10px; height: 62px;">
              <div
                class="MuiGrid-root MuiGrid-container MuiGrid-direction-xs-column MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-center">
                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-md-12">
                  <p class="MuiTypography-root nameCollaborator MuiTypography-body2"><b>Colaborardor 1</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="MuiGrid-root itemShrink MuiGrid-item MuiGrid-grid-xs-5">
          <div class="MuiPaper-root MuiCard-root MuiPaper-elevation0 MuiPaper-rounded" style="min-height: 170px;">
            <div style="position: relative; width: 100%; height: 100px;"><img
                src="https://sfo3.digitaloceanspaces.com/weibook.co/chabra_barbershop/collaborators/612e4d3f48b37600115c8d7a.jpg"
                alt="Ever Romero" class="imgCollaborator" style="border-radius: 0px; object-fit: cover;"></div>
            <div class="MuiCardContent-root" style="margin-top: 10px; height: 62px;">
              <div
                class="MuiGrid-root MuiGrid-container MuiGrid-direction-xs-column MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-center">
                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-md-12">
                  <p class="MuiTypography-root nameCollaborator MuiTypography-body2"><b>Ever Romero</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="MuiGrid-root itemShrink MuiGrid-item MuiGrid-grid-xs-5">
          <div class="MuiPaper-root MuiCard-root MuiPaper-elevation0 MuiPaper-rounded" style="min-height: 170px;">
            <div style="position: relative; width: 100%; height: 100px;"><img
                src="https://sfo3.digitaloceanspaces.com/weibook.co/chabra_barbershop/collaborators/61b3a0f93aa422001138d7b1.jpg"
                alt="SANTIAGO TORO" class="imgCollaborator" style="border-radius: 0px; object-fit: cover;"></div>
            <div class="MuiCardContent-root" style="margin-top: 10px; height: 62px;">
              <div
                class="MuiGrid-root MuiGrid-container MuiGrid-direction-xs-column MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-center">
                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-md-12">
                  <p class="MuiTypography-root nameCollaborator MuiTypography-body2"><b>SANTIAGO TORO</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="MuiGrid-root itemShrink MuiGrid-item MuiGrid-grid-xs-5">
          <div class="MuiPaper-root MuiCard-root MuiPaper-elevation0 MuiPaper-rounded" style="min-height: 170px;">
            <div style="position: relative; width: 100%; height: 100px;"><img
                src="https://s3.weibook.co/recursos/icon-collaborator.png" alt="JOHANNA CANTOR" class="imgCollaborator"
                style="border-radius: 0px; object-fit: cover;"></div>
            <div class="MuiCardContent-root" style="margin-top: 10px; height: 62px;">
              <div
                class="MuiGrid-root MuiGrid-container MuiGrid-direction-xs-column MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-center">
                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-md-12">
                  <p class="MuiTypography-root nameCollaborator MuiTypography-body2"><b>JOHANNA CANTOR</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="MuiGrid-root itemShrink MuiGrid-item MuiGrid-grid-xs-5">
          <div class="MuiPaper-root MuiCard-root MuiPaper-elevation0 MuiPaper-rounded" style="min-height: 170px;">
            <div style="position: relative; width: 100%; height: 100px;"><img
                src="https://s3.weibook.co/recursos/icon-collaborator.png" alt="Andrés araque " class="imgCollaborator"
                style="border-radius: 0px; object-fit: cover;"></div>
            <div class="MuiCardContent-root" style="margin-top: 10px; height: 62px;">
              <div
                class="MuiGrid-root MuiGrid-container MuiGrid-direction-xs-column MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-center">
                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-md-12">
                  <p class="MuiTypography-root nameCollaborator MuiTypography-body2"><b>Andrés araque </b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="MuiGrid-root itemShrink MuiGrid-item MuiGrid-grid-xs-5">
          <div class="MuiPaper-root MuiCard-root MuiPaper-elevation0 MuiPaper-rounded" style="min-height: 170px;">
            <div style="position: relative; width: 100%; height: 100px;"><img
                src="https://s3.weibook.co/recursos/icon-collaborator.png" alt="Jhonaiker Sanchez"
                class="imgCollaborator" style="border-radius: 0px; object-fit: cover;"></div>
            <div class="MuiCardContent-root" style="margin-top: 10px; height: 62px;">
              <div
                class="MuiGrid-root MuiGrid-container MuiGrid-direction-xs-column MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-center">
                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-md-12">
                  <p class="MuiTypography-root nameCollaborator MuiTypography-body2"><b>Jhonaiker Sanchez</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="MuiGrid-root itemShrink MuiGrid-item MuiGrid-grid-xs-5">
          <div class="MuiPaper-root MuiCard-root MuiPaper-elevation0 MuiPaper-rounded" style="min-height: 170px;">
            <div style="position: relative; width: 100%; height: 100px;"><img
                src="https://sfo3.digitaloceanspaces.com/weibook.co/chabra_barbershop/collaborators/63bd84ebb6495800115be3c2.jpg"
                alt="Juan Garcia" class="imgCollaborator" style="border-radius: 0px; object-fit: cover;"></div>
            <div class="MuiCardContent-root" style="margin-top: 10px; height: 62px;">
              <div
                class="MuiGrid-root MuiGrid-container MuiGrid-direction-xs-column MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-center">
                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-md-12">
                  <p class="MuiTypography-root nameCollaborator MuiTypography-body2"><b>Juan Garcia</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="MuiGrid-root itemShrink MuiGrid-item MuiGrid-grid-xs-5">
          <div class="MuiPaper-root MuiCard-root MuiPaper-elevation0 MuiPaper-rounded" style="min-height: 170px;">
            <div style="position: relative; width: 100%; height: 100px;"><img
                src="https://sfo3.digitaloceanspaces.com/weibook.co/chabra_barbershop/collaborators/1680361816189.jpeg"
                alt="YEFERSON PINTO" class="imgCollaborator" style="border-radius: 0px; object-fit: cover;"></div>
            <div class="MuiCardContent-root" style="margin-top: 10px; height: 62px;">
              <div
                class="MuiGrid-root MuiGrid-container MuiGrid-direction-xs-column MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-center">
                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-md-12">
                  <p class="MuiTypography-root nameCollaborator MuiTypography-body2"><b>YEFERSON PINTO</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="MuiGrid-root itemShrink MuiGrid-item MuiGrid-grid-xs-5">
          <div class="MuiPaper-root MuiCard-root MuiPaper-elevation0 MuiPaper-rounded" style="min-height: 170px;">
            <div style="position: relative; width: 100%; height: 100px;"><img
                src="https://s3.weibook.co/recursos/icon-collaborator.png" alt="gustavo" class="imgCollaborator"
                style="border-radius: 0px; object-fit: cover;"></div>
            <div class="MuiCardContent-root" style="margin-top: 10px; height: 62px;">
              <div
                class="MuiGrid-root MuiGrid-container MuiGrid-direction-xs-column MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-center">
                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-md-12">
                  <p class="MuiTypography-root nameCollaborator MuiTypography-body2"><b>gustavo</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="padding: 30px 0px 20px;"><span class="MuiTypography-root" style="display: flex;">Seleccionar
          fecha:</span></div>
      <div class="MuiPaper-root MuiCard-root MuiPaper-elevation0 MuiPaper-rounded" style="padding: 10px;">
        <div class="jss20">
          <div class="jss21"><button class="jss22" style="background: rgb(54, 105, 238);">←</button></div>
          <div id="container" class="jss23">
            <div class="jss24"><span class="jss25" style="color: rgb(54, 105, 238);">abril 2023</span>
              <div class="jss28" style="margin-left: 0px;">
                <div id="" class="jss26"
                  style="font-weight: bold; width: 45px; height: 45px; border-radius: 50%; border: 2px solid rgb(54, 105, 238); color: rgb(54, 105, 238);">
                  <div class="jss29">vie</div>
                  <div class="jss30">14</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">sáb</div>
                  <div class="jss30">15</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">dom</div>
                  <div class="jss30">16</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">lun</div>
                  <div class="jss30">17</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">mar</div>
                  <div class="jss30">18</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">mié</div>
                  <div class="jss30">19</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">jue</div>
                  <div class="jss30">20</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">vie</div>
                  <div class="jss30">21</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">sáb</div>
                  <div class="jss30">22</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">dom</div>
                  <div class="jss30">23</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">lun</div>
                  <div class="jss30">24</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">mar</div>
                  <div class="jss30">25</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">mié</div>
                  <div class="jss30">26</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">jue</div>
                  <div class="jss30">27</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">vie</div>
                  <div class="jss30">28</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">sáb</div>
                  <div class="jss30">29</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">dom</div>
                  <div class="jss30">30</div>
                </div>
              </div>
            </div>
            <div class="jss24"><span class="jss25" style="color: rgb(54, 105, 238);">mayo 2023</span>
              <div class="jss28">
                <div id="selected" class="jss26">
                  <div class="jss29">lun</div>
                  <div class="jss30">1</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">mar</div>
                  <div class="jss30">2</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">mié</div>
                  <div class="jss30">3</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">jue</div>
                  <div class="jss30">4</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">vie</div>
                  <div class="jss30">5</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">sáb</div>
                  <div class="jss30">6</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">dom</div>
                  <div class="jss30">7</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">lun</div>
                  <div class="jss30">8</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">mar</div>
                  <div class="jss30">9</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">mié</div>
                  <div class="jss30">10</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">jue</div>
                  <div class="jss30">11</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">vie</div>
                  <div class="jss30">12</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">sáb</div>
                  <div class="jss30">13</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">dom</div>
                  <div class="jss30">14</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">lun</div>
                  <div class="jss30">15</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">mar</div>
                  <div class="jss30">16</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">mié</div>
                  <div class="jss30">17</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">jue</div>
                  <div class="jss30">18</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">vie</div>
                  <div class="jss30">19</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">sáb</div>
                  <div class="jss30">20</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">dom</div>
                  <div class="jss30">21</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">lun</div>
                  <div class="jss30">22</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">mar</div>
                  <div class="jss30">23</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">mié</div>
                  <div class="jss30">24</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">jue</div>
                  <div class="jss30">25</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">vie</div>
                  <div class="jss30">26</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">sáb</div>
                  <div class="jss30">27</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">dom</div>
                  <div class="jss30">28</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">lun</div>
                  <div class="jss30">29</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">mar</div>
                  <div class="jss30">30</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">mié</div>
                  <div class="jss30">31</div>
                </div>
              </div>
            </div>
            <div class="jss24"><span class="jss25" style="color: rgb(54, 105, 238);">junio 2023</span>
              <div class="jss28">
                <div id="selected" class="jss26">
                  <div class="jss29">jue</div>
                  <div class="jss30">1</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">vie</div>
                  <div class="jss30">2</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">sáb</div>
                  <div class="jss30">3</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">dom</div>
                  <div class="jss30">4</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">lun</div>
                  <div class="jss30">5</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">mar</div>
                  <div class="jss30">6</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">mié</div>
                  <div class="jss30">7</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">jue</div>
                  <div class="jss30">8</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">vie</div>
                  <div class="jss30">9</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">sáb</div>
                  <div class="jss30">10</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">dom</div>
                  <div class="jss30">11</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">lun</div>
                  <div class="jss30">12</div>
                </div>
                <div id="" class="jss26">
                  <div class="jss29">mar</div>
                  <div class="jss30">13</div>
                </div>
              </div>
            </div>
          </div>
          <div class="jss21"><button class="jss22" style="background: rgb(54, 105, 238);">→</button></div>
        </div>
      </div>
      <div style="padding: 30px 0px 20px;"><span class="MuiTypography-root" style="display: flex;">Horas
          disponibles:</span></div>
      <div class="MuiPaper-root MuiCard-root MuiPaper-elevation0 MuiPaper-rounded" style="padding: 10px;">
        <div class="sc-jSgupP ckDfJz">
          <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-2">
            <div class="MuiGrid-root MuiGrid-container MuiGrid-item MuiGrid-grid-xs-4">
              <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12">
                <p class="sc-gKsewC gnwqMi">Mañana</p>
                <p class="text-center emptyHours">Sin horas para reservar</p>
              </div>
            </div>
            <div class="MuiGrid-root MuiGrid-container MuiGrid-item MuiGrid-grid-xs-4">
              <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12">
                <p class="sc-gKsewC gnwqMi">Tarde</p>
                <p class="text-center emptyHours">Sin horas para reservar</p>
              </div>
            </div>
            <div class="MuiGrid-root MuiGrid-container MuiGrid-item MuiGrid-grid-xs-4">
              <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12">
                <p class="sc-gKsewC gnwqMi">Noche</p>
                <p class="text-center emptyHours">Sin horas para reservar</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="padding-bottom: 150px;">
        <div style="padding: 30px 0px 20px;"><span class="MuiTypography-root" style="display: flex;">Servicio:</span>
        </div>
        <div>
          <div class="MuiPaper-root MuiAccordion-root MuiAccordion-rounded MuiPaper-elevation1 MuiPaper-rounded">
            <div class="MuiButtonBase-root MuiAccordionSummary-root" tabindex="0" role="button" aria-disabled="false"
              aria-expanded="false" aria-controls="panel1a-content" id="panel1a-header">
              <div class="MuiAccordionSummary-content">
                <p class="MuiTypography-root txtDetailServiceItem MuiTypography-body1" style="width: 150px;">
                  CORTE+SHAMPOO+BARBA</p><button
                  class="MuiButtonBase-root MuiIconButton-root removeItemService MuiIconButton-edgeEnd" tabindex="0"
                  type="button" aria-label="delete"><span class="MuiIconButton-label"><svg class="MuiSvgIcon-root"
                      focusable="false" viewBox="0 0 24 24" aria-hidden="true" id="entity">
                      <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"></path>
                    </svg></span><span class="MuiTouchRipple-root"></span></button>
              </div>
              <div class="MuiButtonBase-root MuiIconButton-root MuiAccordionSummary-expandIcon MuiIconButton-edgeEnd"
                aria-disabled="false" aria-hidden="true"><span class="MuiIconButton-label"><svg class="MuiSvgIcon-root"
                    focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path>
                  </svg></span><span class="MuiTouchRipple-root"></span></div>
            </div>
            <div class="MuiCollapse-root MuiCollapse-hidden" style="min-height: 0px;">
              <div class="MuiCollapse-wrapper">
                <div class="MuiCollapse-wrapperInner">
                  <div aria-labelledby="panel1a-header" id="panel1a-content" role="region">
                    <div class="MuiAccordionDetails-root">
                      <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-1">
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-8">
                          <p class="MuiTypography-root MuiTypography-body2"><b>Colaborador: </b></p>
                        </div>
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4">
                          <p class="MuiTypography-root MuiTypography-body2">Edwin Rincon(chakra)</p>
                        </div>
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-8">
                          <p class="MuiTypography-root MuiTypography-body2"><b>Tiempo:</b></p>
                        </div>
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4">
                          <p class="MuiTypography-root MuiTypography-body2">60 minutos</p>
                        </div>
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-8">
                          <p class="MuiTypography-root MuiTypography-body2"><b>Precio</b></p>
                        </div>
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4">
                          <p class="MuiTypography-root MuiTypography-body2">$&nbsp;27.000</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><a class="addOtherService">Añadir más servicios</a>
        </div>
      </div>
    </div>
    <div class="MuiGrid-root staticFooterFlotante MuiGrid-container" style="height: initial;">
      <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12" style="margin-top: 20px;"><button
          class="MuiButtonBase-root MuiButton-root MuiButton-contained MuiButton-containedPrimary Mui-disabled MuiButton-fullWidth Mui-disabled"
          tabindex="-1" type="button" disabled="" style="color: white;"><span
            class="MuiButton-label">SIGUIENTE</span></button></div>
    </div>
  </div>
</div>
